    <div id="page-content">
        <div class="container">
            <div class="row justify-content-center my-2">
                <div class="col-8 col-lg-6">
                    <img class="img-fluid" src="img/logo.jpg" alt="KryptonGamesLogo">
                </div>
            </div>
			
			<div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/SeekandFindDifferencesGame.png"
                                        alt="SeekandFindDifferencesGame.png">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.spotthedifference"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Seek and Find differences game Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Seek and Find differences game</h1>
                            <h3 class="d-block d-md-none">Seek and Find differences game</h3>

                            <p class="font-weight-light mb-0">Find the difference. Spot 10 differences or 5 difference game for adults & kids</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>
							
							<p class="font-weight-light mb-0">
							Aaand we have something interesting for you: discover each level and try to find hidden object (hint) - <b>magnifying glass</b>. This hidden object helps you to increase the number of hints and to find image difference.
							</p>
							
                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>1000+ levels</li>
                                <li>No time limit</li>
                                <li>At each level you can use hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                There are a lot of differences to find, hurry up and download difference finding games now! If you like playing puzzle games and logical games, get spot differences games free and find the difference between two pictures like a real detective.
                            </p>

                            <p class="font-weight-light mb-2">
                                If you are looking for brain training games that are fun and relaxing, install spot it games, and relax finding objects in beautiful images collected in this app. Guess the difference now! Download these brain games for kids and adults and challenge yourself with real free puzzle games..
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindtheDifference200lvls.png"
                                        alt="FindtheDifference200lvls">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifference200lvls"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences 200 lvls Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find Differences 200 lvls</h1>
                            <h3 class="d-block d-md-none">Find Differences 200 lvls</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>200 levels</li>
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            

            
            <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 mt-md-1">
                                        <div class="row justify-content-center">
                                            <div class="col col-5 col-md-12 mb-1">
                                                <img class="img-fluid" src="img/apps/FindDifferences200levels2.png"
                                                    alt="FindDifferences200levels2">
                                            </div>

                                            <div class="w-100"></div>

                                            <div class="col col-5 col-md-12 text-center">
                                                <a href="https://play.google.com/store/apps/details?id=com.kryptongames.finddifferences200levels2"
                                                    target="_blank">
                                                    <img class="img-fluid" src="img/btnGooglePlay.png"
                                                        alt="Download Find Differences 200 levels 2 Google Play">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col mt-3 mt-md-0">
                                        <h1 class="d-none d-md-block">Find Differences 200 levels 2</h1>
                                        <h3 class="d-block d-md-none">Find Differences 200 levels 2</h3>

                                        <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                                        <p class="font-weight-light mb-0">
                                            Classic and favorite puzzle game of million peoples around the world.
                                        </p>

                                        <p class="m-0 font-weight-light">
                                            Description:
                                        </p>

                                        <ul class="pl-3 font-weight-light mb-2">
                                            <li>200 levels</li>
                                            <li>No time limit</li>
                                            <li>At each level you can use 2 hints</li>
                                            <li>To play in the horizontal and vertical position of the screen</li>
                                            <li>For small screens or not very acute vision - zoom function will help you</li>
                                            <li>High Quality pictures</li>
                                            <li>Designed for phones and tablets</li>
                                            <li>Simple and intuitive interface</li>
                                        </ul>

                                        <p class="font-weight-light mb-2">
                                            This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                            difference”
                                            where you have to find ten differences between 2 pictures. If you get stuck, there is
                                            two
                                            hints
                                            to help you!
                                        </p>

                                        <p class="font-weight-light mb-2">
                                            You gonna love this game if you like games like find the difference and hidden objects
                                            series.
                                        </p>
                                    </div>
                                </div>
                            </div>    
                        </div>

                        
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindtheDifference200levels.png"
                                        alt="FindtheDifference200levels">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifference200levels"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences 200 levels Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find Differences 200 levels</h1>
                            <h3 class="d-block d-md-none">Find Differences 200 levels</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>200 levels</li>
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindDifferences150levels3.png"
                                        alt="FindDifferences150levels3.png">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.finddifferences150levels3"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences 150 levels 3 Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find Differences 150 levels 3</h1>
                            <h3 class="d-block d-md-none">Find Differences 150 levels 3</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>150 levels</li>
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindDifferences150levels2.png"
                                        alt="FindDifferences150levels2.png">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.finddifferences150levels2"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences 150 levels 2 Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find Differences 150 levels 2</h1>
                            <h3 class="d-block d-md-none">Find Differences 150 levels 2</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>150 levels</li>
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindDifferences150levels.png"
                                        alt="FindDifferences150levels.png">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifference150levels"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences 150 levels Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find Differences 150 levels</h1>
                            <h3 class="d-block d-md-none">Find Differences 150 levels</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>150 levels</li>
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindtheDifference100levels.png"
                                        alt="FindtheDifference100levels">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifference100levels"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find the Difference 100 levels Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find the Difference 100 levels</h1>
                            <h3 class="d-block d-md-none">Find the Difference 100 levels</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindtheDifferencesRooms.png"
                                        alt="FindDifference">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifferencesrooms"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find the Differences Rooms Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find the Differences Rooms</h1>
                            <h3 class="d-block d-md-none">Find the Differences Rooms</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/Find10DifferencesTheGame.png"
                                        alt="Find10DifferencesTheGame">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.find10differences"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find 10 Differences: The Game Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find 10 Differences: The Game</h1>
                            <h3 class="d-block d-md-none">Find 10 Differences: The Game</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindtheDifference.png"
                                        alt="FindtheDifference">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifference"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find the Difference Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find the Difference</h1>
                            <h3 class="d-block d-md-none">Find the Difference</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindtheDifferences.png"
                                        alt="FindtheDifferences">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifferences"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find the Difference Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find the Differences</h1>
                            <h3 class="d-block d-md-none">Find the Differences</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindDifferencesPuzzlegame.png"
                                        alt="FindDifferencesPuzzlegame">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.finddifferences"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences Puzzle game Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find the Differences Puzzle game</h1>
                            <h3 class="d-block d-md-none">Find the Differences Puzzle game</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two
                                hints
                                to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/Find6Differences.png"
                                        alt="Find6Differences">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.find6differences"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find 6 Differences Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find 6 Differences</h1>
                            <h3 class="d-block d-md-none">Find 6 Differences</h3>

                            <p class="font-weight-light mb-0">Find 6 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two hints to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mt-md-1">
                            <div class="row justify-content-center">
                                <div class="col col-5 col-md-12 mb-1">
                                    <img class="img-fluid" src="img/apps/FindDifferencesNewYear.png"
                                        alt="FindDifferencesNewYear">
                                </div>

                                <div class="w-100"></div>

                                <div class="col col-5 col-md-12 text-center">
                                    <a href="https://play.google.com/store/apps/details?id=com.kryptongames.findthedifferencenewyear"
                                        target="_blank">
                                        <img class="img-fluid" src="img/btnGooglePlay.png"
                                            alt="Download Find Differences New Year Google Play">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3 mt-md-0">
                            <h1 class="d-none d-md-block">Find Differences New Year</h1>
                            <h3 class="d-block d-md-none">Find Differences New Year</h3>

                            <p class="font-weight-light mb-0">Find 10 differences between 2 pictures.</p>

                            <p class="font-weight-light mb-0">
                                Classic and favorite puzzle game of million peoples around the world.
                            </p>

                            <p class="m-0 font-weight-light">
                                Description:
                            </p>

                            <ul class="pl-3 font-weight-light mb-2">
                                <li>No time limit</li>
                                <li>At each level you can use 2 hints</li>
                                <li>To play in the horizontal and vertical position of the screen</li>
                                <li>For small screens or not very acute vision - zoom function will help you</li>
                                <li>High Quality pictures</li>
                                <li>Designed for phones and tablets</li>
                                <li>Simple and intuitive interface</li>
                            </ul>

                            <p class="font-weight-light mb-2">
                                This is puzzle game known as “Find the difference”, “Difference game”, or “Spot the
                                difference”
                                where you have to find ten differences between 2 pictures. If you get stuck, there is
                                two hints to help you!
                            </p>

                            <p class="font-weight-light mb-2">
                                You gonna love this game if you like games like find the difference and hidden objects
                                series.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
